.Button{
    font-size: 1.3em;
    padding: 10px 20px;
    background-color: #519872;
    border: none;
    color:black;
}

.Button:hover{
    background-color: #214130;
    color: white;
}

@media (max-width:390px){
    .Button{
        padding: 8px 15px;
    }
}