.dialog{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.dialogContent{
    background-color: white;
    position: absolute;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.dialogContent h1{
    margin-left: 20px;
}

.barraHorizontal{
    width: 100%;
    height: 2px;
    background-color: gray;
    flex-shrink: 0;
}

.dialogContentInputsDivs{
    box-sizing: border-box;
    flex-grow: 2;
    padding: 20px;
}

.inputField{
    display: flex;
    flex-direction: column;
}

.inputField label{
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.inputField input{
    font-size: 1.2em;
    width: 30%;
    margin-bottom: 20px;
}

.inputField input:first-child{
    margin-right: 30px;
}

.dialogContentButtons{
    display: flex;
    justify-content: flex-end;
}

.dialogContentButtons button{
    font-size: 1.3em;
    margin: 10px;
    padding: 5px 10px;
    border: none;
    color:black;
    display: flex;
    align-items: center;
}

.dialogContentButtons svg{
    margin: 5px 5px 5px 0;
}

.salvar{
    background-color: #519872;  
}

.salvar:hover{
    background-color: #214130;
    color: white;
}

.cancelar{
    background-color: #d61616;
}

.cancelar:hover{
    background-color: #790909;
    color: white;
}

.resetar{
    background-color: #979577;
}

.resetar:hover{
    background-color: #4b4932;
    color: white;
}

.musicaTitle{
    margin-left: 20px;
    font-size: 1.5em;
}

.musicaInput{
    padding: 20px;
    font-weight: bold;

}

@media (max-width: 850px) {

    .dialog{
        font-size: 14px;
    }
    .dialogContentButtons{
        justify-content: space-between;
    }

    .dialogContent{
        width: 80%;
        height: 70%;
    }
}

@media (max-width: 520px) {

    .inputField input{
        width: 40%;
    }
}

@media (max-width: 480px) {

    .dialogContent{
        overflow: auto;
    }
    .dialogContentButtons{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .musicaInput{
        padding: 20px;
        font-weight: bold;
        flex-shrink: 0;
    }

    .dialogContent::-webkit-scrollbar {
        display: none;
    }

    .dialogContentButtons button{
        font-size: 1.5em;
        justify-content: center;
    }

    .dialogContentButtons .salvar{
        margin: 10px 10px 20px 10px;
    }
}

@media (max-width: 350px) {

    .dialog{
        font-size: 12px;
    }

    .inputFiel div{
        display: flex;
        flex-direction: column;
    }

    .inputField input{
        width: 80%;
    }

    .musicaInput{
        font-size: 12px;
        
    }

}

