body{
    background-color: #ffffff;
    color: white;
}

.section_timer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.timer_container{
    width: 50vw;
    height: 80vh;
    background-color: #4d4e47;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer_circle{
    background-image: conic-gradient(#a52222 100% , #22a543 0%);
    width: 60%;
    height: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer_inner_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #310909;
}

.timer_inner_value{
    font-size: 6vw;
}
.container_buttons{
    width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}